.App {
  text-align: center;
}

@font-face {
  font-family: Poppins-Regular;
  src: url('Poppins-Regular.ttf'); 
}

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

html, body {
    background: #e5e5e5;
}

div .chatWindow, .root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
    margin-top: 12px;
}

div .login {
    display: none;
    position: absolute;
    top: 25%;
    left: auto;
    padding: 10px;
    width: 300px;
    height: 200px;
    border: 10px solid #d0d0d0
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}