@font-face {
    font-family: Poppins-Regular;
    src: url('Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('Poppins-Medium.ttf');
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #e5e5e5;
    padding: 15px;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0.91;
}

.popup_inner {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 30%;
    bottom: 35%;
    margin: auto;
    border-radius: 10px;
    padding: 55px 55px 37px 55px;
    background: -webkit-linear-gradient(top, #778899, #B9D3EF);
    opacity: 1;
    z-index: 2;
}

.inputusuario {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 5.0;
    display: block;
    width: 100%;
    height: 45px;
    z-index: 3;
}

.input100 {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 38px;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

    .focus-input100::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        background: #fff;
    }

    .focus-input100::after {
        font-family: Poppins-Regular;
        font-size: 22px;
        color: #fff;
        content: attr(data-placeholder);
        display: block;
        width: 100%;
        position: absolute;
        top: 6px;
        left: 0px;
        padding-left: 5px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

.input100:focus {
    padding-left: 5px;
}

    .input100:focus + .focus-input100::after {
        top: -22px;
        font-size: 18px;
    }

    .input100:focus + .focus-input100::before {
        width: 100%;
    }

.has-val.input100 + .focus-input100::after {
    top: -22px;
    font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

.has-val.input100 {
    padding-left: 5px;
}


.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: -webkit-linear-gradient(top, #778899, #B9D3EF);
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    .login100-form-btn::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        background-color: #fff;
        top: 0;
        left: 0;
        opacity: 1;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .login100-form-btn:hover {
        color: #fff;
    }

        .login100-form-btn:hover:before {
            opacity: 0;
        }

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
